<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='style.css' type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>

  <div id="nothing-container">
      <p id="nothing">Nothing is playing</p>
  </div>
</body>
</html>